main{
    box-sizing: border-box;
    text-align: center;
}
button{
    border: 1px solid black;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 5px;
    
}
#mezo{
    padding-top: 200px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}